FLASK_APP=app
FLASK_ENV=development
SECRET_KEY=lkasjdf09ajsdkfljalsiorj12n3490re9485309irefvn,u90818734902139489230
DATABASE_URL=postgresql://starter_app_dev:password@localhost/starter_app
AWS_KEY_ID=<insert IAM user key; must have access to bucket>
AWS_SECRET_KEY=<insert IAM user secret key; must have access to bucket>
BUCKET_NAME=<insert bucket name here>
