#logout{
    width: 100px;
  margin-right: 20px;
  padding: 5px;
  color: black;
  background-color: white;
  border-radius: 10px;
  border: 3px solid gray;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}