#top-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgb(220, 217, 217);
  width: 100%;
  z-index: 1;
  border-bottom: 2px solid black;
}

#nav-bar-logo-picture {
  height: 75px;
  margin-left: 20px;
}

#nav-bar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin-right: 150px;
  position: sticky;
}


.nav-link {
  width: 100px;
  margin-right: 20px;
  padding: 5px;
  color: black;
  background-color: white;
  border-radius: 10px;
  border: 3px solid gray;
  text-decoration: none;
}
