#favorite-container {
    /* background-color: rgb(255, 222, 112); */ 
    padding: 50px;
    border: 2px solid black;
    border-radius: 10px;
    min-width: 1260px;
    
}

p {
    font-size: 30px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }


#card {

    padding: 10px;
    margin: 10px

}

#card img {
    width: 250px;
    min-height: 250px;
    border-radius: 5px 5px 0 0;
    padding: 0;
}

/* #card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  } */

#card a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}

#card button {
    background-color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 5px;
}

#card button:hover {
    background-color: rgb(0, 52, 149);
    color: white;
    border: 1px solid rgb(0, 52, 149); 
}

#bar-info-container {
    padding: 2px 16px;
}

#card button {
    position: absolute;
}
